USE [master]
GO
/****** Object:  Database [ShopDB]    Script Date: 9/22/2025 10:52:35 PM ******/
CREATE DATABASE [ShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/22/2025 10:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Categori__19093A0B38F25805] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/22/2025 10:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 9/22/2025 10:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[IdOrder] [numeric](18, 0) NOT NULL,
	[IdProduct] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[UnitPrice] [bigint] NOT NULL,
 CONSTRAINT [PK__OrderIte__57ED0681CB8C6770] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/22/2025 10:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[IdCustomer] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Orders__C3905BCFC62A3459] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/22/2025 10:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Price] [bigint] NOT NULL,
	[IdCategory] [int] NOT NULL,
 CONSTRAINT [PK__Products__B40CC6CD88CE3F32] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug]) VALUES (1, N'Electronics', N'electronics')
INSERT [dbo].[Categories] ([Id], [Name], [Slug]) VALUES (2, N'Accessories', N'accessories')
INSERT [dbo].[Categories] ([Id], [Name], [Slug]) VALUES (3, N'Home Appliances', N'home-appliances')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [FullName], [Email]) VALUES (1, N'Ali Reza', N'ali@test.com')
INSERT [dbo].[Customers] ([Id], [FullName], [Email]) VALUES (2, N'Sara Ahmadi', N'sara@test.com')
INSERT [dbo].[Customers] ([Id], [FullName], [Email]) VALUES (3, N'Mohammad Hossein', N'mh@test.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [IdOrder], [IdProduct], [Qty], [UnitPrice]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), 1, 1, 1500)
INSERT [dbo].[OrderItems] ([Id], [IdOrder], [IdProduct], [Qty], [UnitPrice]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), 4, 2, 25)
INSERT [dbo].[OrderItems] ([Id], [IdOrder], [IdProduct], [Qty], [UnitPrice]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), 5, 1, 40)
GO
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [IdCustomer], [OrderDate], [Status]) VALUES (CAST(1 AS Numeric(18, 0)), 1, CAST(N'2025-09-01T00:00:00.000' AS DateTime), N'Paid')
INSERT [dbo].[Orders] ([Id], [IdCustomer], [OrderDate], [Status]) VALUES (CAST(2 AS Numeric(18, 0)), 2, CAST(N'2025-09-05T00:00:00.000' AS DateTime), N'Pending')
INSERT [dbo].[Orders] ([Id], [IdCustomer], [OrderDate], [Status]) VALUES (CAST(3 AS Numeric(18, 0)), 3, CAST(N'2025-09-10T00:00:00.000' AS DateTime), N'Shipped')
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [IdCategory]) VALUES (1, N'Laptop', 1500, 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [IdCategory]) VALUES (2, N'Smartphone', 900, 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [IdCategory]) VALUES (3, N'Tablet', 600, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__737584F67BE2465E]    Script Date: 9/22/2025 10:52:35 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ__Categori__737584F67BE2465E] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__BC7B5FB6A02C773D]    Script Date: 9/22/2025 10:52:35 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ__Categori__BC7B5FB6A02C773D] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D105348298DDA7]    Script Date: 9/22/2025 10:52:35 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_Email]    Script Date: 9/22/2025 10:52:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_Email] ON [dbo].[Customers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 9/22/2025 10:52:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_ProductId]    Script Date: 9/22/2025 10:52:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_ProductId] ON [dbo].[OrderItems]
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerId]    Script Date: 9/22/2025 10:52:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerId] ON [dbo].[Orders]
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderDate]    Script Date: 9/22/2025 10:52:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderDate] ON [dbo].[Orders]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 9/22/2025 10:52:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 9/22/2025 10:52:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__OrderDat__4222D4EF]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Order__48CFD27E] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK__OrderItem__Order__48CFD27E]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Produ__49C3F6B7] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK__OrderItem__Produ__49C3F6B7]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Customer__440B1D61] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Customer__440B1D61]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__Catego__3C69FB99] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__Catego__3C69FB99]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CK__OrderItem__UnitP__47DBAE45] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CK__OrderItem__UnitP__47DBAE45]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CK__OrderItems__Qty__46E78A0C] CHECK  (([Qty]>(0)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CK__OrderItems__Qty__46E78A0C]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK__Orders__Status__4316F928] CHECK  (([Status]='Cancelled' OR [Status]='Shipped' OR [Status]='Paid' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK__Orders__Status__4316F928]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK__Products__Price__3B75D760] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK__Products__Price__3B75D760]
GO
/****** Object:  StoredProcedure [dbo].[CreateOrder]    Script Date: 9/22/2025 10:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CreateOrder]
AS
 
DECLARE 
  @Year INT = 2025,        -- سال هدف
  @OrdersPerMonth INT = 8; -- تعداد سفارش در هر ماه (قابل تغییر)

-- لیست وضعیت‌ها: با وزن‌دهی ساده
-- 0..54 => Paid (55%) | 55..74 => Shipped (20%) | 75..89 => Pending (15%) | 90..99 => Cancelled (10%)
DECLARE @iMonth INT = 1;

WHILE @iMonth <= 12
BEGIN
    DECLARE @i INT = 1;
    DECLARE @monthStart DATE = DATEFROMPARTS(@Year, @iMonth, 1);
    DECLARE @daysInMonth INT = DAY(EOMONTH(@monthStart));

    WHILE @i <= @OrdersPerMonth
    BEGIN
        -- مشتری تصادفی
        DECLARE @CustomerId INT = (
            SELECT TOP 1 Id FROM Customers ORDER BY NEWID()
        );

        -- تاریخ تصادفی داخل همان ماه
        DECLARE @randDayOffset INT = ABS(CHECKSUM(NEWID())) % @daysInMonth; -- 0..days-1
        DECLARE @OrderDate DATETIME = DATEADD(DAY, @randDayOffset, CAST(@monthStart AS DATETIME));

        -- وضعیت تصادفی با وزن
        DECLARE @r INT = ABS(CHECKSUM(NEWID())) % 100;
        DECLARE @Status NVARCHAR(50) = 
            CASE 
              WHEN @r < 55 THEN 'Paid'
              WHEN @r < 75 THEN 'Shipped'
              WHEN @r < 90 THEN 'Pending'
              ELSE 'Cancelled'
            END;

        -- درج سفارش
        INSERT INTO Orders (IdCustomer, Status, OrderDate)
        VALUES (@CustomerId, @Status, @OrderDate);

        DECLARE @OrderId INT = SCOPE_IDENTITY();

        -- تعداد آیتم‌های این سفارش: 1..3
        DECLARE @itemsCount INT = (ABS(CHECKSUM(NEWID())) % 3) + 1;
        DECLARE @j INT = 1;

        WHILE @j <= @itemsCount
        BEGIN
            -- انتخاب محصول تصادفی
            DECLARE @ProductId INT;
            DECLARE @UnitPrice DECIMAL(18,2);

            SELECT TOP 1 
                @ProductId = p.Id,
                @UnitPrice = p.Price
            FROM Products p
            ORDER BY NEWID();

            -- تعداد 1..3
            DECLARE @Qty INT = (ABS(CHECKSUM(NEWID())) % 3) + 1;

            INSERT INTO OrderItems (IdOrder, IdProduct, Qty, UnitPrice)
            VALUES (@OrderId, @ProductId, @Qty, @UnitPrice);

            SET @j += 1;
        END

        SET @i += 1;
    END

    SET @iMonth += 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ProductsWithCategory]    Script Date: 9/22/2025 10:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROC [dbo].[ProductsWithCategory]
AS
SELECT p.Id AS IdProduct,p.Name AS ProductName,x.Name AS CategorieName,p.[IdCategory] FROM [dbo].[Products] p
JOIN [dbo].[Categories] x ON p.[IdCategory]=x.Id
ORDER BY p.Id
GO
USE [master]
GO
